@model MonthlyBudget.Models.PayingByDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PayingByDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashOrCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashOrCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOnCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOnCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PayById }) |
    @Html.ActionLink("Back to List", "Index")
</p>
