@model IEnumerable<MonthlyBudget.Models.CheckingAccountEntriesListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayingById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCleared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cleared)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayingById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCleared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cleared)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
